@font-face{font-family:'roboto_condensedbold';src:url('../fonts/robotocondensed-bold-webfont.eot');src:url('../fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
url('../fonts/robotocondensed-bold-webfont.woff') format('woff'),
url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
url('../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');font-weight:normal;font-style:normal;}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "open_sansbold";
    font-weight: normal;
    src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
}
html{width:100%; float:left;height:100%;}
img{border:none;outline:none;}
select::-ms-expand{display:none;}
input:focus,textarea:focus{outline:none;}
textarea:focus{outline:none;}
select:focus{outline:none;}
.editing{display:none;}
.editable{display:block;}
a:focus,button:focus{border:none;outline:none;}
*{margin:0px;padding:0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
html{margin-top:0px;width:100%;height:100%;}
.clr{clear:both;}
.flt{float:left;}
.flr{float:right;}
a{text-decoration:none !important;color:#555555;transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;-ms-transition:all 0.5s ease 0s;text-decoration:none;}
a:hover{color:#376406;}
ul{list-style:none;}
ul li{float:left;}
p{line-height:24px;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;font-weight:normal;font-family:'roboto_condensedbold';font-weight:normal;}
ul,ol,li{margin:0px;}
a{border:none;}
a:hover{text-decoration:none !important;}
button,input[type="submit"],a,input[type="button"]{cursor:pointer;}
body{padding-bottom:44px; width:100%;font-size:15px !important;font-family: 'open_sansregular';background:#fff;line-height:24px;position:relative;min-height:100%; float:left;}


/*************admin password********/
.loginfixed {
    width: 100%;
    float: left;
    position: fixed;
    background: #f1f1f1;
    left: 0;
    height: 100%;
    bottom: 44px;
}
.loginfixed-inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 375px;
    height: 100%;
}
.loginfixed-tb {
    width: 100%;
    height: 100%;
    float: left;
    display: table;
}
.loginfixed-cell {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.logoblockMain{width:100%;float:left;margin-bottom: 15px;text-align: center;}
.logoblockMain img{float:none;display: inline-block;    max-width: 250px;}
.login-block {
	padding:30px 0px;
    width: 100%;
    float: right;
    border-radius: 5px;
    background: #fff;
    border-top: 3px solid #c0a08b;box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.login-form {
    width: 100%;
    float: left;
    padding: 0px 39px;
}
.login-form h2 {
    width: 100%;
    float: left;
    text-align: center;
    color: #222;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 5px;
    font-size: 30px;
}
.login-form p {
    width: 100%;
    float: left;
    text-align: center;
    color: #413c52;
    margin-bottom: 23px;
    font-size: 14px;margin-bottom: 13px;
}
.full-block {
    width: 100%;
    float: left;
    position: relative;
}
.input-block {
    width: 100%;
    float: left;
    margin-bottom: 25px;position: relative;
}
.full-block:last-child .input-block{margin-bottom: 0px;} 
.login-form .input-block input {
    width: 100%;
    float: left;
    height: 50px;
    border: 2px solid #ccc6d7;
    border-radius: 30px;
    padding: 0px 10px 0px 57px;
    font-size: 14px;
    background-color: #fff;
}
.email-icon {
    background-color: #faf4fc;
}
.input-block.full-block-email:after{
    position: absolute;
    content: '';
    background-image: url("../images/backend/email.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 30px;
    z-index: 2;
    left: 22px;
    top: 15px;
}
.login-form .input-block button.login-btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f94d6d+0,d82143+100 */
    background: #c0a08b; /* Old browsers */
    border: none;
    padding: 0px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: open_sansbold;
    color: #fff;
    border: none;
    height: 47px;
    background-repeat: no-repeat;
    background-position: 0px 0px;width:100%;border-radius: 100px;
}
.key-icon {
    background:-color #faf4fc;
}
.full-block.full-block-pwd .input-block:after{
    position: absolute;
    content: '';
    background-image: url(../images/backend/key-icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 30px;
    z-index: 2;
    left: 22px;
    top: 12px;

}
footer{position: absolute;width: 100%; float:left;color: #fff;font-size: 13px;bottom: 0;background:#212121;text-align: center;}
.footertxt{width:100%;padding: 10px;}
span.invalid-feedback {
    position: absolute;
    left: 0;
    bottom: -21px;
    color: #da143b;
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
}
header {
    width: 100%;
    float: left;
    padding: 10px;
    background: rgba(255,255,255,0.8);
    text-align: right;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}
a.logout img {
    width: 25px;
}
.body-outer {
    width: 100%;
    float: left;
    padding: 20px;
}
span.invalid-feedback.login-common-err {
    width: 100%;
    float: left;
    padding: 10px 20px;
    border: 1px solid #ff00006e;
    background: #ff000014;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    bottom: 0;
    font-size: 15px;
}
.login-common-err img {
    position: absolute;
    right: 20px;
    width: 9px;
    top: 40%;cursor: pointer;
}
@media (max-width: 380px){
    .loginfixed-inner {
        width: 290px;
    }
    .login-form {
        padding: 0px 20px;
    }
}
/**************end*****************/